{% extends "layouts/base.html" %}
{% block title %}Add Phone Number{% endblock %}
{% block body %}

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<div class="flights m-3">
    <div class="container">
  
      <h1>Add Phone Number</h1>
      {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endif %}
      
      <form action="{{ url_for('addPhoneNumberAuth', next=request.endpoint) }}" class="flights" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control">
          </div>

        <div class="mb-3">
        <label for="phone_number" class="form-label">Phone Number</label>
        <input type="text" id="phone_number" name="phone_number" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button><br><br>
      </form>  
       
    </div>
  </div>
  {% endblock %}