{% extends "layouts/base.html" %}
{% block title %}Staff Login{% endblock %}
{% block body %}
<div class="login m-3">
  <div class="container">
    <h1>Login</h1>
    {% if error %}
      <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('staffLoginAuth', next=request.endpoint) }}" class="login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="username" id="username" name="username" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}